[submodule "cpp_new_features"]
	path = cpp_new_features
	url = https://github.com/0voice/cpp_new_features.git
[submodule "DesignPatterns"]
	path = DesignPatterns
	url = https://github.com/ZhiminXu/DesignPatterns.git
[submodule "leetcode-master"]
	path = leetcode-master
	url = https://github.com/youngyangyang04/leetcode-master.git
